body {
  background-color: grey;
  text-align: center;
}

h1 {
  font-family: arial;
  font-size: 50px;
  text-decoration: underline;
}

div {
  border: 1px solid black;
  font-size: 250px;
  border-radius: 50px;
  background-color: green;
  color: red;
}
